// BASE COLORS
$color-black: #000;
$color-neutral: rgba(255, 255, 255, 1);
$color-neutral-200: rgba(247, 249, 252, 1);
$color-neutral-300: rgba(237, 241, 247, 1);
$color-neutral-400: rgba(228, 233, 242, 1);
$color-neutral-500: rgba(197, 206, 244, 1);
$color-neutral-600: rgba(143, 155, 179, 1);
$color-neutral-700: rgba(46, 58, 89, 1);
$color-neutral-800: rgba(34, 43, 69, 1);
$color-neutral-900: rgba(25, 32, 56, 1);
$color-neutral-1000: rgba(21, 26, 48, 1);
$color-neutral-1100: rgba(16, 20, 38, 1);
$color-primary-default: rgba(0, 214, 143, 1);
$color-primary-transparent: rgba(0, 214, 143, 0.48);
$color-primary-dark: rgba(0, 74, 69, 1);
$color-action-default: rgba(255, 61, 113, 1);
$color-action-dark: rgba(219, 44, 102, 1);
