.player-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: pointer;
}

.tooltip {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  top: 42%;
  transform: translateY(-50%);
  cursor: pointer;
}