.player-image {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.tooltip {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  .tooltiptext {
    visibility: hidden;
    text-align: center;
    position: absolute;
    bottom: 100%;
    left:0;

    &.visible {
      visibility: visible;
      animation-name: slideup;
      animation-duration: 1s;
    }
  }

}
@keyframes slideup {
  from   {  bottom:20%; opacity: 0;}
  to {  bottom:100%; opacity: 1;}
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}