.modal-pokemon {
  background: rgb(67,234,127);
  background: linear-gradient(90deg, rgba(67,234,127,1) 0%, rgba(67,234,127,1) 17%, rgba(55,248,212,1) 100%);
  width: 100%;
  height: 100%;
  padding-top: 35%;
  margin-bottom: 35%;

  .infos-container {
    height: 100%;
    border-top-right-radius: 46px;
    border-top-left-radius: 46px;
    background-color: $color-neutral;
  }
  .avatar-container {
    position: absolute;
    top: 5%;
    transform: translateY(-5%);
    text-align: center;
    width: 100%;
  }
  .action-button {
    position: fixed;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      width: 100%;
      max-width: 96px;
      height: auto;
      cursor: pointer;
    }
  }
  .section-title {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    text-align: center;
    height: 1.5em;
    font-size: 2.5rem;
    margin-top: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: $color-neutral-700;
    &:before {
      content: '';
      background: $color-neutral-700;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: $color-neutral-700;
      font-size: 2.5rem;
      padding: 0 2.5rem;
      line-height: 1.5em;
      background-color: white;
    }
  }
}