.stats {
  width: 100%;
  padding: 150px 16px 0 16px;
  img {
    margin-left: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .field-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .name {
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.6;
    color: $color-neutral-700;
    text-align: center;
  }
  .stats-items-container {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.6;
    color: $color-neutral-700;
    text-align: center;
    justify-content: space-between;
    padding: 0 8%;
  
    .stats-item:nth-child(2) {
      border-left: 1px solid grey;
      border-right: 1px solid grey;
      width: 33%;
    }
    .stats-item-label {
      font-size: 2rem;
    }
  
    .stats-item-value {
      font-size: 2.5rem;
    }
  }

 
  .types-container {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.6;
    text-align: center;
    justify-content: space-around;
    padding: 4rem;

    .type-chip {
      color: white;
      padding: 0 12px;
      border-radius: 16px;
      text-transform: uppercase;
      font-size: 2rem;
    }
  }
  .abilities {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.6;
    color: $color-neutral-700;
    text-align: center;
    justify-content: space-around;
    padding: 4rem;
  }
  
  .attributes-container {
    .attribute-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2.5rem;
      font-weight: bold;
      line-height: 1.6;
      color: $color-neutral-700;

      .attribute-icon {
        width: 14px;
        height: 18px;
      }
      .attribute-label {
        width: 100%;
        text-transform: uppercase;
        padding-left: 8px;
      }
    }
  }
}